@charset "utf-8";
body {
    font-family: "Microsoft YaHei UI";
    font-size: 14px;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
.box1200 {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.cf {
    clear: both;
}
a {
    text-decoration: none;
    display: inline-block;
}
a:hover {
    text-decoration: underline;
}
#header {
}
#header .top {
    margin-top: 20px;
    margin-bottom: 20px;
}
#header .top .logo {
    margin-right: 20px;
}
#header .top .name {
}
.top .name h1 {
    color: #28905A;
}
.top .name p {
}
#header .top .tel {
}
.top .tel p {
    font-size: 16px;
    line-height: 25px;
}
#header .navbar {
    height: 60px;
    background-color: #28905a;
}
.navbar a {
    width: 120px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}
.navbar a:hover {
    text-decoration: none;
    background-color: #33B873;
}
#header .slide {
}
#header .slide img {
    width: 100%;
    height: auto;
}
.mt20 {
    margin-top: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml20 {
    margin-left: 20px;
}
#main {
    display: block;
}
#main .aboutbox {
}
.title {
    text-align: center;
}
.title h2 {
    font-size: 30px;
}
.title p {
    color: #666;
}
.imglist {
    width: 100%;
}
.imglist li {
    text-align: center;
    float: left;
    width: calc(95% / 4);
    margin-right: 1.6666%;
    list-style-type: none;
}
.imglist li:last-child {
    margin: 0;
}
.imglist li img {
    width: 100%;
    height: auto;
}
.imglist li h3 {
    font-size: 18px;
    font-weight: normal;
}
.imglist li p {
    color: #999;
}
.imglist li a {
    width: 120px;
    border: 1px solid #999999;
    text-decoration: none;
    color: #000000;
    line-height: 30px;
}
#main .aboutbox .us {
    text-align: center;
}
.aboutbox .us p {
    line-height: 25px;
    text-align: left;
}
.aboutbox .us a {
    background-color: #28905a;
    color: #FFFFFF;
    width: 120px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 18px;
}
.aboutbox .us a:hover {
    background-color: #30AD6C;
    text-decoration: none;
}
#main .banner {
}
#main .banner img {
    width: 100%;
    height: auto;
}
#main .newsbox {
}
#main .newsbox h2 {
    font-weight: normal;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: 10%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 5px 0;
    margin-bottom: 20px;
}
#main .newsbox .imglist {
}
.newsbox .imglist li:first-child {
    width: 33.333%;
    margin-right: 1.667%;
}
.newsbox .imglist li:first-child img {
    width: 100%;
    height: auto;
}
.newsbox .imglist li:first-child h3 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.newsbox .imglist li:first-child p {
    text-align: left;
    width: 100%;
}
.newsbox .imglist li:first-child a {
    float: none;
    margin-top: 20px;
}
.newsbox .imglist li {
    margin-right: 0;
    margin-bottom: 1.667%;
    width: 65%;
}
.newsbox .imglist li img {
    width: 185px;
    height: auto;
    float: left;
    margin-right: 1.282%;
}
.newsbox .imglist li h3 {
    float: left;
    width: 70%;
    text-align: left;
}
.newsbox .imglist li p {
    float: left;
    width: 50%;
    text-align: left;
}
.newsbox .imglist li a {
    float: right;
}
#footer {
    background-color: #29905b;
    padding: 40px 0;
    /* [disabled]color: #FFFFFF;
*/
}
#footer .copyright {
}
#footer .copyright img {
    float: right;
}
#footer .copyright p {
    line-height: 2rem;
    color: #FFFFFF;
}
#main .message {
}
#main .message .form {
    width: 50%;
}
.form li {
    line-height: 50px;
}
.form input {
    height: 30px;
    float: left;
}
.form .text {
    width: 30%;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #ccc;
    border-right: none;
}
.form .area {
    width: 65%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #ccc;
    border-left: none;
}
.form .mailarea {
    width: 40%;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}
.form .symbol {
    width: 5%;
    text-align: center;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}
.form select {
    width: 20%;
    border: 1px solid #ccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    border-left: none;
    height: 30px;
}
.form .content {
    height: 100px;
}
.form textarea {
    height: 100px;
}
.form .btn {
    width: 59%;
    background-color: #29905B;
    color: #FFFFFF;
    border-radius: 10px;
    border-style: none;
    margin-left: 100px;
}
.form .btn:hover {
    background-color: #33B873;
}
.sideMenu {
    border: 1px solid #ddd;
}
.sideMenu h3 {
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    border-top: 1px solid #e3e3e3;
    background: #f4f4f4;
    cursor: pointer;
    font: normal 14px/32px "Microsoft YaHei";
}
.sideMenu h3 em {
    float: right;
    display: block;
    width: 40px;
    height: 32px;
    background: url(images/icoAdd.png) 16px 12px no-repeat;
    cursor: pointer;
}
.sideMenu h3.on em {
    background-position: 16px -57px;
}
.sideMenu ul {
    padding: 8px 25px;
    color: #999;
    display: none; /* 默认都隐藏 */
}
.sideMenu ul li {
    line-height: 25px;
}
#main .message .q-a {
    width: 50%;
}
