@charset "utf-8";
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-color: #E3E3E3;
}
.header {
    width: 1000px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.main {
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main .navbar {
    width: 200px;
    background-color: #CF4749;
    height: 500px;
    float: left;
}
.main .navbar a {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    line-height: 40px;
    background-color: #AC0A0A;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
}
.main .navbar a:hover  {
    background-color: #780A0B;
    color: #FDC811;
    -webkit-box-shadow: inset 0px 0px 5px #1D1D1D;
    box-shadow: inset 0px 0px 5px #1D1D1D;
}


.main .section {
    width: 780px;
    background-color: #2556DB;
    height: 500px;
    float: left;
    margin-left: 20px;
}
.main .section iframe {
    width: 100%;
    border: none;
    height: 100%;
}


.footer {
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    text-align: center;
}
